<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
            <!-- Bootstrap core CSS -->
        {% block stylesheets %}    
            {% stylesheets output="css/compiled/main.css" filter="cssrewrite"
                'bootstrap/css/bootstrap.min.css'
                'css/style.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <!-- Custom styles for this template -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css"
                  integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
                  crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Carter+One|Libre+Baskerville" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {{ include("nav.html.twig") }}
        
        {% block body %}{% endblock %}
        
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
            </div>
        <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        {% block javascripts %}
            {% javascripts output="js/compiled/main.js"
            'js/jquery.min.js'
            'js/bootstrap.min.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

    </body>
</html>
