{# Email Template to be sent once the new user complete properly the registration form #}

Bonjour {{ user.username }},

Pour pour renouveler votre mot de passe, merci de cliquer sur le lien ci-dessous{:
<a href="{{ path('gb_user_resetPassword') }}?Token={{ user.passwordToken }}">Réinitialiser mon mot de passe</a>

A bientôt pour de nouvelles figures!

La communauté Snowtricks