{# Email Template to be sent once the new user complete properly the registration form #}

Bonjour {{ user.username }},

C'est un plaisir de vous avoir dans notre communauté de snowboarders passionnés et surentrainés.
Pour finaliser votre inscription et pouvoir vous connecter sur notre site, merci de cliquer sur le lien ci-dessous{:
<a href="{{ path('gb_user_validation') }}?Token={{ user.validationToken }}">Valider mon inscription</a>

A bientôt pour de nouvelles figures!

La communauté Snowtricks