# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 
    database_port: 
    database_name: 
    database_user: 
    database_password: 
    secret:  
    mailer_transport:
    mailer_auth_mode: 
    mailer_encryption:
    mailer_host:
    mailer_port:
    mailer_user:
    mailer_password:    
