{% extends "_base.html.twig" %}

{% block body %}
    <div id="mainBody" class="container-fluid main d-flex align-items-center">
        <div class="container">
        {% block content %}{% endblock %}
    </div>
</div>    
{% endblock %}
