<html>
    <body>
        <div>
            <p>Bonjour {{ user.username }},</p>
            <p>Pour pour renouveler votre mot de passe, merci de cliquer sur le lien ci-dessous :</p>
            </p>
            <form method="post" action="{{ url('password_reset') }}">
                <input type="hidden" name="passwordToken" value="{{ user.passwordToken }}">
                <button type="submit">Réinitialiser mon mot de passe</button>
            </form>
            <p>A bientôt pour de nouvelles figures!</p>
            <p>La communauté Snowtricks</p>
        </div>  
    </body>
</html>