<html>
    <body>
        <div>
            <p>Bonjour {{ user.username }},</p>
            <p>
                C'est un plaisir de vous avoir dans notre communauté de snowboarders passionnés et surentrainés.
                Pour finaliser votre inscription et pouvoir vous connecter sur notre site, merci de cliquer sur le lien ci-dessous :
            </p>
            <form method="post" action="{{ url('user_validation') }}">
                <input type="hidden" name="Token" value="{{ user.validationToken }}">
                <button type="submit">Valider mon inscription</button>
            </form>
            <p>A bientôt pour de nouvelles figures!</p>
            <p>La communauté Snowtricks</p>
        </div>  
    </body>
</html>
