{% extends "GBTricksBundle::layout.html.twig" %}

{% block title %}Snowtricks: gestion des figures{% endblock %}

{% block body %}
    <!-- Header with Background Image -->

    <!-- Page Content -->
    <div class="container">
        {% include "GBTricksBundle:Trick:trickForm.html.twig" %}
    </div>
{% endblock %}