{% extends "tricks/_tricks_layout.html.twig" %}

{% block body %}
    <!-- Header with Background Image -->

    <!-- Page Content -->
    <div class="container">
        {% include "tricks/forms/_trick_form.html.twig" %}
    </div>
{% endblock %}