{{ form_start(frontPictureForm, {'attr': {'class': 'form-row', 'id': 'frontselection'} }) }}
<div class="col-auto">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">Photo à la Une :</div>
        </div>
        {{ form_widget(frontPictureForm.frontImage, {'attr': {'class': 'custom-select'}, 'label': 'Changer photo' }) }}
        <div class="input-group-append">
            <button type="submit" name="Save" class="btn btn-primary">
                <span class="far fa-save fa-lg"></span>
            </button>
        </div>    
    </div>
</div>
<div class="col-auto">
    <button type="submit" name="Reset" class="btn btn-danger">
        <span class="fas fa-trash-alt"></span>
    </button>
</div>    
{{ form_rest(frontPictureForm) }}
{{ form_end(frontPictureForm) }}